body {
  margin: 0px;
  padding: 0px;
}

.box {

  display: flex;
  height: 100%;
}

.img-box img {
  height: 100%;
  width: auto;
}

.input-box {
  margin-right: 30px;
  margin-top: 50px;
  margin-left: 30px;
  background-color: rgb(217, 217, 217);
  width: 500px;
  height: 600px;
  padding: 30px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.welcome-box {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
}
.checkbox{
  margin: 0px;
  cursor: pointer;
}
.button{
  height: 30px;
  width: 100%; 
  cursor: pointer;
  border-radius: 5px;
  border: none;
}