body {
  margin: 0px;
  padding: 0px;
}

.box {

  display: flex;
  height: 100%; 
  width: 100%;
  /* display: flex;
  justify-content: center; */
  
}

.img-box{
  height: 100%;

} 
.img-box img{
width: 700px;

}
.input-box {

  background-color: rgb(228, 224, 224);
  width:  710px;
  height: auto;
  padding: 30px;
  
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.input-box-details{
  font-style:italic;
      background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 90px;
    border-radius: 10px;
}
.welcome-box {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.input {
  height: 30px;
  width: 98%;
  border-radius: 5px;
  border-color: black;
}
.checkbox{
  display: flex;
  margin: 0px;
  cursor: pointer;
}
.button{
  height: 30px;
  width: 100%; 
  cursor: pointer;
  border-radius: 5px;
  border: none;
}